<!-- Card -->
<div class="">
  <!-- Card Header -->
  <!-- <div class="flex items-center justify-between px-8 py-5 border-b border-gray-200">
    <h1 class="text-xl font-bold text-gray-800 tracking-tight">Team Add</h1>
    <a
      routerLink="/layouts/team"
      class="flex items-center gap-1.5 text-sm font-medium text-gray-500 hover:text-gray-800 transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-4 h-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      Back
    </a>
  </div> -->

  <div class="flex items-center justify-between mb-6">
    <app-page-header title="Add Team" backRoute="/layouts/team"></app-page-header>
  </div>

  <div class="px-8 py-7 bg-white shadow-lg rounded-lg">
    <!-- Form Body -->
    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <!-- User Name + Email -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- User -->
        <div>
          <label class="text-sm font-semibold text-gray-700 mb-1 block">
            User Name <span class="text-red-600">*</span>
          </label>
          <input
            type="text"
            name="userName"
            formControlName="userName"
            placeholder=""
            class="form-select text-gray-600"
          />
          @if (teamForm.get('userName')?.touched && teamForm.get('userName')?.invalid) {
            <p class="text-red-600 text-xs p-1">User Name is required</p>
          }
        </div>
        <!-- email -->
        <div>
          <label class="text-sm font-semibold text-gray-700 mb-1 block">
            Email <span class="text-red-600">*</span>
          </label>
          <input
            type="email"
            name="email"
            formControlName="email"
            placeholder=""
            class="form-select text-gray-600"
          />
          @if (teamForm.get('email')?.touched && teamForm.get('email')?.errors?.['required']) {
            <p class="text-red-600 text-xs p-1">Email is required</p>
          }

          @if (teamForm.get('email')?.touched && teamForm.get('email')?.errors?.['email']) {
            <p class="text-red-600 text-xs p-1">Invalid email</p>
          }
        </div>
      </div>

      <!--  Contact Number + BirthDate -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- contact number -->
        <div>
          <label class="text-sm font-semibold text-gray-700 mb-1 block">
            Contact Number <span class="text-red-600">*</span>
          </label>
          <input
            type="tel"
            name="contactNumber"
            formControlName="contactNumber"
            placeholder=""
            class="form-select text-gray-600"
          />
          @if (teamForm.get('contactNumber')?.touched && teamForm.get('contactNumber')?.invalid) {
            <p class="text-red-600 text-xs p-1">Contact Number is required</p>
          }
        </div>
        <!-- birthdate -->
        <div>
          <label class="text-sm font-semibold text-gray-700 mb-1 block">BirthDate</label>
          <input
            #teamBirth
            type="date"
            name="birthDate"
            formControlName="birthDate"
            (click)="teamBirth.showPicker()"
            class="form-select text-gray-600 cursor-pointer"
          />
        </div>
      </div>

      <!--  Role + Password -->
      <div class="grid md:grid-cols-2 gap-4 mb-6">
        <!-- Role -->
        <div class="">
          <label class="text-sm font-semibold text-gray-700 mb-1 block">Role</label>
          <select
            formControlName="role"
            name="role"
            class="form-select text-gray-600 appearance-none bg-[url('/assets/images/tabler-icon-triangle-inverted.png')] bg-no-repeat bg-position-[right_15px_center] bg-size-[9px]"
          >
            @for (role of roles; track role) {
              <option [value]="role">
                {{ role }}
              </option>
            }
          </select>
        </div>
        <!-- password -->
        <div class="">
          <label class="text-sm font-semibold text-gray-700 mb-1 block">
            Password <span class="text-red-600">*</span>
          </label>
          <input
            type="password"
            name="password"
            formControlName="password"
            placeholder=""
            class="form-select text-gray-600"
          />
          @if (teamForm.get('password')?.touched && teamForm.get('password')?.invalid) {
            <p class="text-red-600 text-xs p-1">Password is required</p>
          }
        </div>
      </div>

      <!-- Address -->
      <div class="mb-6">
        <label class="text-sm font-semibold text-gray-700 mb-1 block">Address</label>
        <textarea
          name="address"
          formControlName="address"
          rows="2"
          class="form-select text-gray-600"
        ></textarea>
      </div>

      <!--  Country + State -->
      <div class="grid md:grid-cols-2 gap-4 mb-6">
        <!-- country -->
        <div class="">
          <label class="text-sm font-semibold text-gray-700 mb-1 block">Country</label>
          <select
            formControlName="country"
            name="country"
            class="form-select text-gray-600 appearance-none bg-[url('/assets/images/tabler-icon-triangle-inverted.png')] bg-no-repeat bg-position-[right_15px_center] bg-size-[9px]"
          >
            @for (country of countries; track country) {
              <option [value]="country">
                {{ country }}
              </option>
            }
          </select>
        </div>
        <!-- state -->
        <div class="">
          <label class="text-sm font-semibold text-gray-700 mb-1 block">State</label>
          <select
            formControlName="state"
            name="state"
            class="form-select text-gray-600 appearance-none bg-[url('/assets/images/tabler-icon-triangle-inverted.png')] bg-no-repeat bg-position-[right_15px_center] bg-size-[9px]"
          >
            @for (state of states; track state) {
              <option [value]="state">
                {{ state }}
              </option>
            }
          </select>
        </div>
      </div>

      <!-- City + Zip Code -->
      <div class="grid md:grid-cols-2 gap-4 mb-6">
        <!-- city -->
        <div class="">
          <label class="text-sm font-semibold text-gray-700 mb-1 block">City</label>
          <select
            formControlName="city"
            name="category"
            class="form-select text-gray-600 appearance-none bg-[url('/assets/images/tabler-icon-triangle-inverted.png')] bg-no-repeat bg-position-[right_15px_center] bg-size-[9px]"
          >
            @for (city of cities; track city) {
              <option [value]="city">
                {{ city }}
              </option>
            }
          </select>
        </div>
        <!-- zip -->
        <div class="">
          <label class="text-sm font-semibold text-gray-700 mb-1 block">Zip Code</label>
          <input
            type="text"
            name="zipCode"
            formControlName="zipCode"
            placeholder=""
            class="form-select text-gray-600"
          />
        </div>
      </div>

      <!-- Description -->
      <div class="mb-6">
        <label class="text-sm font-semibold text-gray-700 mb-1 block">Description</label>
        <textarea
          name="description"
          formControlName="description"
          rows="3"
          class="form-select text-gray-600"
        ></textarea>
      </div>

      <!-- Actions -->
      <div class="flex items-center justify-center gap-3">
        <app-button
          type="submit"
          label="Submit"
          variant="primary-btn"
          styleClass="px-6 py-3 text-sm font-semibold"
        >
        </app-button>
        <app-button
          type="button"
          label="Cancel"
          [routerLink]="'/layouts/team'"
          variant="secondary-btn"
        >
        </app-button>
      </div>
    </form>
  </div>
</div>
