<div class="w-full mx-auto">
  <app-page-header
    title="Live News"
    addButtonLabel="Add Live News"
    addButtonRoute="/layouts/livenews/add-live-news"
  />

  <app-table-filter
    [filters]="filters"
    [showDateRange]="true"
    searchPlaceholder="Search Live News"
    (filterChange)="applyFilters($event)"
  />

  <app-table
    [columns]="columns"
    [data]="filteredNews"
    [menuItems]="menuItems"
    (menuOpen)="setActiveRow($event)"
    (menuAction)="handleMenuAction($event)"
  />
</div>

<!-- comment dialog -->

@if (showCommentDialog) {
  <div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
    <div class="bg-white w-[600px] rounded-xl shadow-lg p-6 relative">
      <!-- Header -->
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold">Comments</h2>

        <button
          (click)="showCommentDialog = false"
          class="hover:text-black border border-gray-100 rounded-lg px-2 py-1 text-gray-500 hover:bg-red-50 cursor-pointer transition-colors"
        >
          ✕
        </button>
      </div>

      <!-- Table -->
      <div class="overflow-auto max-h-[400px] border rounded-lg">
        <table class="w-full text-sm">
          <thead class="bg-gray-100 text-left">
            <tr>
              <th class="p-3 w-16">No</th>
              <th class="p-3">Comment</th>
              <th class="p-3 w-40">Username</th>
            </tr>
          </thead>

          <tbody>
            @for (c of comments; track c.no) {
              <tr class="border-t hover:bg-gray-50">
                <td class="p-3">{{ c.no }}</td>
                <td class="p-3">{{ c.comment }}</td>
                <td class="p-3">{{ c.username }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
