<!-- <app-page-header
  title="Today's News"
  addButtonLabel="Add Today's News"
  (add)="openDialog()"
></app-page-header> -->

<div class="mb-4 flex items-center justify-between">
  <h2 class="text-2xl font-bold text-gray-800">Today's News</h2>
  <button (click)="openDialog()" class="primary-btn px-4 py-3 text-sm font-semibold">
    Add Today's News
  </button>
</div>

<div class="border-gray-300 border mb-6"></div>

<div class="sm:ml-auto flex justify-end lg:w-auto w-full mb-6">
  <app-icon-field placeholder="search team"></app-icon-field>
</div>
<app-table
  [columns]="todayNewscol"
  [data]="todayNewsData"
  [rows]="5"
  [showMenu]="false"
  [enableRows]="true"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
></app-table>

<!-- dialog -->
@if (showDialog) {
  <div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
    <div class="bg-white w-[500px] rounded-xl p-6 shadow-lg">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-lg font-semibold">Add Today's News</h2>
        <button
          class="hover:text-primary border border-gray-300 rounded-lg px-2 py-1 text-gray-500 hover:bg-red-50 cursor-pointer transition-colors"
          (click)="closeDialog()"
        >
          ✕
        </button>
      </div>

      <!-- News -->
      <div class="mb-4">
        <label class="font-semibold text-gray-700 mb-1 block text-sm">News</label>

        <!-- Selected Item -->
        <div
          (click)="dropdownOpen = !dropdownOpen"
          class="border border-gray-300 w-full rounded-lg p-2 flex items-center gap-2 cursor-pointer"
        >
          @if (form.news) {
            <img [src]="form.news.thumbnail" class="w-6 h-6 rounded object-cover" />
            <span>{{ form.news.title }}</span>
          } @else {
            <span class="text-gray-500 text-sm px-2">Select News</span>
          }
        </div>

        <!-- Dropdown List -->
        @if (dropdownOpen) {
          <div
            class="border border-gray-300 rounded-lg mt-1 max-h-60 overflow-auto bg-white shadow"
          >
            @for (item of newsList; track item.id) {
              <div
                (click)="selectNews(item)"
                class="flex items-center gap-3 p-2 hover:bg-gray-50 cursor-pointer"
              >
                <img [src]="item.thumbnail" class="w-8 h-8 rounded object-cover" />
                <span>{{ item.title }}</span>
              </div>
            }
          </div>
        }
      </div>

      <!-- Sequence -->
      <div class="mb-4">
        <label class="font-semibold text-gray-700 mb-1 block text-sm">Sequence</label>
        <input
          type="number"
          [(ngModel)]="form.sequence"
          class="border border-gray-300 w-full rounded-lg p-2"
        />
      </div>

      <div class="flex items-center gap-2">
        <button (click)="addTodayNews()" class="px-6 py-2.5 primary-btn">Add</button>
        <button (click)="closeDialog()" class="secondary-btn">Cancel</button>
      </div>
    </div>
  </div>
}
