<!-- Add Feed Dialog -->
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="false"
  styleClass="max-w-md sm:max-w-lg md:max-w-xl lg:max-w-2xl"
  [pt]="{
    mask: { class: 'fixed inset-0 bg-black/40 flex items-center justify-center z-50' },
    root: { class: 'bg-white w-full rounded-xl shadow-xl' },
  }"
>
  <div class="flex items-center justify-between px-6 py-4">
    <h2 class="text-lg font-semibold text-gray-700">Add Feed</h2>
    <button
      type="button"
      (click)="close()"
      class="size-8 border border-gray-200 hover:bg-secondary-hover bg-[url('/assets/images/close-btn.png')] bg-no-repeat bg-center rounded-lg"
    ></button>
  </div>

  <hr class="border border-gray-200 w-[95%] mb-2 mx-auto" />

  <div class="p-6 space-y-5">
    <div class="grid sm:grid-cols-2 gap-4">
      <div>
        <label class="block text-sm font-semibold text-gray-700 mb-1">Published Date</label>
        <input
          type="date"
          [(ngModel)]="feedForm.date"
          name="feedDate"
          class="w-full border border-gray-300 text-gray-700 rounded-lg px-3 py-2 focus:outline focus:outline-gray-300"
        />
      </div>
      <div>
        <label class="block text-sm font-semibold text-gray-700 mb-1">Published Time</label>
        <input
          type="time"
          [(ngModel)]="feedForm.time"
          name="feedTime"
          class="w-full border border-gray-300 text-gray-700 rounded-lg px-3 py-2 focus:outline focus:outline-gray-300"
        />
      </div>
    </div>

    <app-text-editor
      #feedDetailsEditor
      label="Feed Details"
      placeholder="Enter feed details here..."
      minHeightClass="min-h-52"
      (contentChange)="feedForm.details = $event"
    />

    <div class="py-3 flex gap-2">
      <app-button
        styleClass="px-4 py-3 text-sm"
        variant="primary-btn"
        type="button"
        label="Save Feed"
        (click)="saveFeed()"
      >
      </app-button>
      <app-button variant="secondary-btn" type="button" label="Cancel" (click)="close()">
      </app-button>
    </div>
  </div>
</p-dialog>
