<!-- Add Feed Dialog -->
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="false"
  [styleClass]="getSizeClass()"
  [pt]="{
    mask: { class: 'fixed inset-0 bg-black/40 flex items-center justify-center z-50' },
    root: { class: 'bg-white w-full rounded-xl shadow-xl overflow-hidden' },
  }"
>
  <div
    class="flex items-center justify-between px-6 py-4 border-b-2 border-gray-300"
    [ngClass]="headerClass"
  >
    <h2 class="text-lg font-semibold text-gray-700">{{ title }}</h2>
    <button
      type="button"
      (click)="close()"
      class="size-8 border border-gray-200 hover:bg-secondary-hover bg-[url('/assets/images/close-btn.png')] bg-no-repeat bg-center rounded-lg"
    ></button>
  </div>

  <ng-content></ng-content>

  @if (showFooter) {
    <div class="py-4 px-6 flex gap-2">
      <app-button
        variant="primary-btn"
        styleClass="px-4 py-3 text-sm"
        type="button"
        [label]="saveLabel"
        (click)="onSave()"
      ></app-button>

      <app-button
        variant="secondary-btn"
        type="button"
        [label]="cancelLabel"
        (click)="close()"
      ></app-button>
    </div>
  }
</p-dialog>
