<!-- Variant: back button + title (add / edit pages) -->
@if (backRoute) {
  <div class="flex items-center gap-3">
    <a
      [routerLink]="backRoute"
      class="back-btn bg-[url('/assets/images/tabler-icon-arrow-narrow-left.png')] bg-no-repeat bg-position-[left_50%_center]"
    >
    </a>
    <h1 class="text-2xl font-bold text-gray-800">{{ title }}</h1>
  </div>
}

<!-- Variant: title + add button (list pages) -->
@else {
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-2xl font-bold text-gray-800">{{ title }}</h1>

    <div class="flex items-center gap-2">
      <!-- Extra Button -->
      @if (extraButtonLabel) {
        <app-button
          styleClass="px-3 py-2.5 text-sm"
          variant="primary-btn"
          [label]="extraButtonLabel"
          (click)="extraClick.emit()"
          type="button"
        ></app-button>
      }

      <!-- Default Add Button -->
      @if (addButtonLabel) {
        <app-button
          styleClass="px-3 py-2.5 text-sm"
          variant="primary-btn"
          [label]="addButtonLabel"
          [routerLink]="addClick.observed ? undefined : addButtonRoute"
          (click)="addClick.observed ? addClick.emit() : null"
          type="button"
        ></app-button>
      }
    </div>
  </div>
}
