<aside
  class="min-h-screen bg-white border-r border-gray-200 flex flex-col fixed top-0 left-0 z-20 transition-all duration-300"
  [ngClass]="collapsed ? 'w-16 md:w-20' : 'w-40 md:w-56 sm:w-48'"
>
  <!-- Logo -->
  <div class="relative flex items-center justify-center py-6">
    @if (!collapsed) {
      <img src="assets/images/logo.png" alt="logo" />
    }
    @if (collapsed) {
      <button
        (click)="toggle.emit()"
        class="flex justify-center p-2 rounded-md hover:bg-gray-100 transition"
      >
        <i class="pi pi-bars text-lg"></i>
      </button>
    } @else {
      <button
        (click)="toggle.emit()"
        class="absolute top-1/2 -right-3 -translate-y-1/2 bg-white border border-gray-200 rounded-full size-6 flex items-center justify-center shadow-sm hover:bg-gray-50 transition"
      >
        <i class="pi pi-angle-left text-xs"></i>
      </button>
    }
  </div>

  <!-- Nav -->
  <nav class="flex-1 py-4 px-3 gap-2 flex flex-col">
    <!--  Menu -->
    @for (item of menuItems; track item.route) {
      <a
        [routerLink]="item.route"
        routerLinkActive="bg-primary text-white"
        class="group flex items-center gap-3 px-3 py-2.5 rounded-lg text-gray-700 text-sm font-semibold transition-all duration-300 ease-in-out"
      >
        <img
          [src]="item.icon"
          class="w-6 filter transition duration-300 ease-in-out group-hover:brightness-125"
          routerLinkActive="filter-white"
        />

        @if (!collapsed) {
          <span>{{ item.label }}</span>
        }
      </a>
    }

    <!-- Logout -->
    <div class="flex mt-5 flex-col">
      <div class="border-t border-gray-200 mb-5"></div>

      <a
        [routerLink]="['/']"
        class="flex items-center gap-3 px-3 py-2.5 text-gray-700 text-sm font-semibold transition-all duration-300 ease-in-out"
      >
        <img src="assets/images/logout-icon.png" />
        @if (!collapsed) {
          <span>Logout</span>
        }
      </a>
    </div>
  </nav>
</aside>
