/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'primeicons/primeicons.css';
html,
body {
  font-family: 'DM Sans', 'Noto Sans Gujarati', sans-serif;
}

@theme {
  --color-primary: #b91c1c;
  --color-primary-hover: #991b1b;
}

@layer components {
  .form-input {
    @apply rounded-xl border border-gray-300 focus-within:ring-1 focus-within:ring-gray-300;
  }

  .reset-btn {
    @apply flex items-center gap-2 pr-3 pl-8 py-2 rounded-lg border border-gray-300 text-red-700 text-sm font-medium bg-white hover:bg-red-50 transition-all duration-300;
  }
  .search-input {
    @apply border border-gray-300 rounded-xl pl-9 pr-2 py-2 text-sm text-gray-600 bg-white focus:outline-none focus:ring-1 focus:ring-red-400;
  }
}
